*{font-family: 'News Cycle', sans-serif !important;}
.km-content{background-color: #fff !important;}
.km-header .km-navbar{
    height: 60px !important;
    color: #bcbdbf !important;
    background: linear-gradient(to bottom, #fdfdfd , #e4e4e4) !important; 
    background: -webkit-linear-gradient(top, #fdfdfd , #e4e4e4) !important;
    background: -o-linear-gradient(top, #fdfdfd, #e4e4e4) !important; 
    background: -moz-linear-gradient(top, #fdfdfd, #e4e4e4) !important; 
}

.km-flat .km-loader, .km-flat .km-rowinsert, .km-flat .km-state-active, .km-flat .km-scroller-pull, .km-flat .k-slider-selection, .km-flat .km-touch-scrollbar, .km-flat .km-pages .km-current-page, .km-flat .k-slider .k-draghandle, .km-flat .k-slider .k-draghandle:hover, .km-flat .km-tabstrip .km-state-active, .km-flat .km-scroller-refresh.km-load-more, .km-flat .km-popup .k-state-hover, .km-flat .km-popup .k-state-focused, .km-flat .km-popup .k-state-selected, .km-flat .km-actionsheet>li>a:active, .km-flat .km-actionsheet>li>a:hover, .km-flat li.km-state-active .km-listview-link, .km-flat li.km-state-active .km-listview-label, .km-flat .km-listview-label input[type=radio]:checked, .km-flat .km-listview-label input[type=checkbox]:checked{
    background-color: #3157a4 !important;color: #fff !important;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
form{padding: 0.5em;}
label{display: block;text-transform: uppercase;font-size: 26px;font-style: italic;color:#58595b;}
input.campo{border: 2px #d7d9da solid;font-size: 18px;padding: 6px 8px;width: 100%;margin-bottom: 20px;font-style: italic;color:#58595b;}
.left{float:left;}
.right{float:right;}

#spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 10px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #3157a4;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

#intro-footer{
    background-color: #fff !important;
}

#help-button{
    background-color: #bcbdbf !important;color: #221f1f !important;
    font-family: Arial, sans-serif;
    font-size: 18px !important;
    width: 30px;height: 30px;
    padding: 0 !important;
    text-align: center;
    line-height: 25px;
    overflow: hidden;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border: none !important;
    font-weight: bold;
    border-bottom: 2px #ededee solid !important;
}
.header-navbar-button{
    background-color: #bcbdbf !important;color: #221f1f !important;
    font-family: Arial, sans-serif;
    font-size: 16px !important;
    padding: 6px 12px 10px 12px !important;
    line-height: 12px;
    text-align: center;
    overflow: hidden;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border: none !important;
    border-bottom: 2px #ededee solid !important;
}

a.button{
    border:none !important;
    text-transform: uppercase;
    font-size: 18px !important;
    font-style: italic;
    position: relative;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
a.button.verde{
    background-color: #ccf421 !important;color: #58595b !important;
}
a.button.vermelho{
    background-color: #ff6600 !important;color: #58595b !important;
}
a.button:active{
    top:1 !important;left: 1 !important;background-color: #3157a4 !important;color: #fff !important;
}

#perfil{padding: 2em 0.5em;}

#perfil img{float: left;margin-right: 10px;}
#perfil h1{font-weight: normal;font-style: italic;padding: 0 !important;margin: 24px 0 0 0 !important;font-size: 20px}
#perfil h2{font-style: italic;padding: 0 !important;margin: 0 !important;line-height: 20px;}


.footer-bar{
    height: 60px !important; 
    background: linear-gradient(to bottom, #8b8c8d , #404142) !important; 
    background: -webkit-linear-gradient(top, #8b8c8d , #404142) !important;
    background: -o-linear-gradient(top, #8b8c8d, #404142) !important; 
    background: -moz-linear-gradient(top, #8b8c8d, #404142) !important; 
    border-top: 2px #d7d9da solid !important;
}

.footer-bar .footer-button{
    background: linear-gradient(to bottom, #9c9c9d , #5b5c5d) !important; 
    background: -webkit-linear-gradient(top, #9c9c9d , #5b5c5d) !important;
    background: -o-linear-gradient(top, #9c9c9d, #5b5c5d) !important; 
    background: -moz-linear-gradient(top, #9c9c9d, #5b5c5d) !important; 
    border: 1px #7a7b7b solid !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    color: #eaeaea;
    padding: 0.35rem 1.4rem !important;
    font-size: 1.3em !important;line-height: 1.2em !important;
    height: auto !important;
}

.footer-button-icon{vertical-align: middle;}

.gridster ul {
    width: 100%;
}

.gridster li {
    list-style: none;
    background: -webkit-linear-gradient(top, #ededed , #c6c6c6) !important;
    background: -o-linear-gradient(top, #ededed, #c6c6c6) !important; 
    background: -moz-linear-gradient(top, #ededed, #c6c6c6) !important; 
    background: linear-gradient(to bottom, #ededed , #c6c6c6) !important; 
    text-transform: uppercase;
    font-size: 1em;
    font-style: italic;padding-left: 10px;padding-right: 50px;
    line-height: 1.1em !important;
    border: 1px #b6b9ba solid;
    background-repeat: no-repeat !important;
}
.gridster li a{
    color: #757272;text-decoration: none;
}

.gridster .grid-container{display: table-cell;width: 100%;height: 140px;vertical-align: middle;}

.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #DDD;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}


.grid-icon{position: absolute;top:54px;right: 10px;}

.container-content{padding: 1.4rem 0.5rem;}
.container-content h1{
    margin: 0 !important;
    line-height: 28px;
    text-indent: 5px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: normal;
    color: #58595b !important;
    font-size: 24px;
}
.container-content h2{
    margin: 0 !important;
    font-style: italic;
    font-weight: normal;
    color: #58595b !important;
    font-size: 20px;
    text-indent: 0 !important;
    clear: both;
}
.container-content h3{
    margin: 0 0 5px 0 !important;
    font-style: italic;
    font-weight: normal;
    color: #58595b !important;
    font-size: 18px;
    text-indent: 0 !important;
}
.container-content form ul{
    padding: 0 !important;margin-top: 5px !important;
}
.container-content form ul li{
    list-style: none;margin-bottom: 8px;color: #58595b !important;font-size: 18px;text-transform: uppercase;font-style: italic;
}
.container-content form ul li input[type='radio'] {
    -webkit-appearance: none;
    -webkit-margin-start: 0;
    -webkit-margin-end: 3px;
    -webkit-transition: border 500ms;
    background: #ededed;
    border-radius: 100%;
    border: none;
    display: inline-block;
    height: 20px;
    margin-bottom: 0;
    position: relative;
    top: 3px;
    vertical-align: baseline;
    width: 20px;
}

.container-content form ul li input[type='radio']:disabled {
    opacity: .75;
}
.container-content form ul li input[type='radio']:not(:disabled):active {
    background: -webkit-linear-gradient(#f0f0f0, #bebebe);
    border: 1px solid #808080;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
.container-content form ul li input[type='radio']:checked::before {
    -webkit-margin-start: 5px;
    background: #221f1f;
    border-radius: 10px;
    content: '';
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    height: 10px;
    left: 0;
    margin-top: 5px;
    opacity: 1;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 10px;
}
html[dir='rtl'] input[type='radio']:checked::before {
    right: 0;
}
.container-content form ul li input[type='radio']:active:checked::before {
    background: #606060;
}

.hr{background-color: #d7d9da;height: 2px;overflow: hidden;margin: 10px 0;}

.icon-header-content{float:left;}

ul.respostas{padding-left: 0;}
ul.respostas li{list-style: none;margin-bottom: 20px;}

.texto-content{display:none;}
.texto-content p{margin-left: 0 !important;margin-right: 0 !important;}

.video-content{display:none;}
.video-content iframe{width: 100%;}

.action-button{
    background-color: #58595b !important;
    width: 60px !important;height: 45px !important;
    text-align: center;
    padding: 0 !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
.action-button img{
    position: absolute;top:8px;left: 16px;
}
.action-button.video img{
    position: absolute;top:4px;left: 12px;
}
.action-button.toogle{
    background-color: #bfc0c3 !important;
}

.modal .km-content{
    background: url(img/bg-modal-easy-call.png) !important;
    padding: 15px !important;
}


.modal .topbar{height: 50px;color:#58595b; font-size: 20px;font-style:italic;margin-bottom: 10px;}

.modal .topbar .modal-close{
    background-color: #4d4c4e !important;color: #fff !important;
    font-family: Arial, sans-serif;
    font-size: 18px !important;
    width: 30px;height: 30px;
    padding: 0 !important;
    text-align: center;
    line-height: 25px;
    overflow: hidden;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border: none !important;
    font-weight: bold;
    border-bottom: 2px #ededee solid !important;
    float: right;
    font-style: normal;
}

.modal .modal-content{text-align: right;font-size: 20px; color: #fefefe;}

.modal .modal-atendente{float: left;}

.km-flat .km-shim, .km-phone .km-flat .km-actionsheet-wrapper {
    background: rgba(255,255,255,0.7) !important;
}